<%- include("header") -%>


<h1>Merhaba Sayfama Hoş Geldiniz</h1>

<p>Bu sayfada daha sonra yapmam gereken işlerimi ekliyorum. Böylece unutmak derdini bir kenera bırakıyorum.</p>

<img class="balon" src="images/11155.svg" alt="balon">


<%- include("footer") -%>